body {
  background-color: #FEFCF3;
}

hr {

  background-color: none;
  border-style: dotted none none none;
  border-width: 7px;
  width: 7%;

  border-color: #DBA39A


}
h1
{

  color: #525E75
}

h3 {

  color: #6E85B7

}
